* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #fff;
}

.container-width {
  width: 1240px;
  overflow: hidden;
}

a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.container-align-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 60px;
}

.container-align-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 60px;
}

/**** 

Top Navigation 

****/
header {
  background-color: #1d1d1f;
}

nav {
  margin: 0 auto;
  padding: 20px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a:link {
  color: rgba(255, 255, 255, 0.8);
}

/****

Hero Section

****/
section {
  height: 100vh;
}

.hero-section {
  background-image: url("/Assets/hero-iPhone-15-pro-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 32px;
  font-weight: 200;
}

span {
  margin-top: 10px;
  display: flex;
  gap: 60px;
}

section a:link {
  font-size: 24px;
  color: #2997ff;
}

section a:hover {
  text-decoration: underline;
}

.section-img {
  display: block;
  width: 600px;
  height: auto;
  /* transform: scale(4.5); */
}

/****

iPhone 15 Section

****/

.iphone-15-section {
  background-color: #fbfbfd;
  color: #1d1d1f;
  margin-bottom: 12px;
  background-image: url("/Assets/iphone15-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/****

Vision Pro Section

****/

.vision-pro-section {
  background-color: #fbfbfd;
  color: #1d1d1f;
  background-image: url("/Assets/hero_apple_vision_pro_startframe__dqlet46do5qq_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
