* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-color: #fff;
  color: #fff;
}

.container-width {
  width: 1120px;
  overflow: hidden;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.container-align-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 60px;
}

.container-align-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 60px;
}

h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
}

h5 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.1;
}

/**** 

Top Navigation 

****/
header {
  background-color: rgb(29, 29, 31, 1);
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
}

nav {
  margin: 0 auto;
  padding: 20px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a:link,
header i {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

header a:hover,
header i:hover {
  color: #ffffff;
}

i {
  font-size: 16px;
}

.apple-icon {
  font-size: 24px;
}

/****

Hero Section

****/
section {
  height: 100vh;
}

.hero-section {
  background-image: url("./Assets/hero-iPhone-15-pro-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  grid-column: 1 / -1;
}

h2 {
  font-size: 56px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

span {
  margin-top: 10px;
  display: flex;
  gap: 60px;
}

section a:link {
  font-size: 24px;
  color: #2997ff;
}

section a:hover {
  text-decoration: underline;
}

/****

iPhone 15 Section

****/

.iphone-15-section {
  grid-column: 1 / -1;
  margin-bottom: 12px;
  color: #1d1d1f;
  background-image: url("./Assets/iphone15-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/****

Vision Pro Section

****/

.vision-pro-section {
  grid-column: 1 / -1;
  margin-bottom: 12px;
  color: #1d1d1f;
  background-image: url("./Assets/hero_apple_vision_pro_startframe__dqlet46do5qq_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/****

Apple Watch Series

****/

.watch-section {
  grid-column: 1 / 2;
  margin-bottom: 12px;
  background-image: url("./Assets/promo_apple_watch_series_9_order__b3u85rm9zf6u_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.macbook-pro-section {
  grid-column: 2 / 3;
  margin-bottom: 12px;
  color: #1d1d1f;
  background-image: url("./Assets/promo_mbp__ek7p477bkp6q_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/****

iPad Section

****/

.ipad-section {
  grid-column: 1 / 2;
  margin-bottom: 12px;
  color: #1d1d1f;
  background-image: url("./Assets/promo_ipad__fioegapg12qi_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/****

Airpods Pro Section

****/

.airpod-pro-section {
  grid-column: 2 / 3;
  margin-bottom: 12px;
  background-image: url("./Assets/promo_airpods_pro_order__d8xv36p4uwae_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.apple-card-section {
  grid-column: 1 / 2;
  margin-bottom: 12px;
  color: #1d1d1f;
  background-image: url("./Assets/tile__cauwwcyyn9hy_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.trade-in-section {
  grid-column: 2 / 3;
  margin-bottom: 12px;
  color: #1d1d1f;
  background-image: url("./Assets/promo_iphone_tradein__bugw15ka691e_large_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

/****

Abve footer Section

****/

.bg-silver {
  background-color: rgba(245, 245, 247, 1);
}

.footer-section {
  grid-column: 1 / -1;
  color: #999999;
  font-size: 15px;
  line-height: 1.4;
  height: auto;
}

.footer-section div {
  padding: 16px 0;
}

.footer-section-1 ul li {
  margin-bottom: 12px;
}

.footer-section-1 ul li {
  margin-bottom: 12px;
}

.footer-section-1,
.footer-section-2 {
  padding-bottom: 32px;
  border-bottom: 2px solid #d1d1d1;
}

.footer-section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-section-2 ul li {
  display: block;
}

.footer-section-2 a:link {
  font-weight: 200;
}

.footer-section-2 ul li {
  margin-bottom: 18px;
}

.footer-section-2 ul li:last-child {
  margin-bottom: 40px;
}

.footer-section-2 ul li a:link,
strong {
  color: #5b5b5b;
  font-size: 16px;
}

.footer-section-2 a:link {
  display: inline-block;
  font-size: 14px;
}

.full-col {
  grid-column: 1 / -1;
}

.footer-section-3 {
  display: flex;
  justify-content: space-between;
}

.footer-section-3 a:link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 200;
}
